body{
    background-color: #0b1a2e;
    display: flex;
    color: whitesmoke;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container{
    background-color: #153f61;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
    padding: 2rem;
  
}

h1{
    color: #0b1721;
    font-weight: bold;
}

.game-area{
    padding-bottom: 1rem;
}

input{
    border: 1px solid #0b1a2e;
    border-radius: 5px;
    width: 50%;
    padding: 0.7rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}

button{
    background-color: #0b1a2e;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #a8b3c0;
    transform: translateY(-2px);
    color: #0b1a2e;
}

.new-game{
    margin-top: 0.8rem;
}

.feedback{
   margin: 1rem 0;
    min-height: 1.5rem;
    font-size: 1.1rem;
}

.attempts{
    font-weight: bold;
    color: #0b1a2e;
}